<h1>Sign up </h1>
<div class ="form">
<%=form_for(@user) do |f| %>
  <% if @user.errors.any? %> 
      <div class ="alert-message error ">  
         <%@user.errors.full_messages.each do |msg| %>
           <%=msg%> <br/>
         <%end%> 
    </div> 
  <%end%>
 <%=f.label :name%>
 <%=f.text_field :name %><br/>

 <%=f.label :email%>
 <%=f.text_field :email%><br/>

 <%=f.label :password%>
 <%=f.password_field :password %> <br/>

 <%=f.label :password_confirmation,"Confirmation" %>
 <%=f.password_field :password_confirmation %><br/>
 
 <%=f.submit "Sign up" %>
<%end%>
</div>
